.user-list {
  border-radius: 8px;
  overflow: hidden;
}

.user-list-header {
  font-weight: 600;
  border-bottom: 1px solid #252945;
}

.user-grid {
  display: grid;
  background-color: var(--color-secondary);
  grid-template-columns: 2fr 2fr 1fr 1.5fr 1fr;
  padding: 1rem;
  align-items: center;
}

.user-list-body .user-grid {
  border-bottom: 1px solid #1e2139;
  gap: 1rem;
}

.user-list-body .user-grid:hover {
  background-color: var(--color-secondary-hover);
}

.user-name {
  display: flex;
  flex-direction: column;
}

.user-role {
  font-size: 0.875rem;
  color: #888eb0;
}

.user-actions {
  display: flex;
  gap: 0.5rem;
}

.user-actions .button {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}
